@charset "UTF-8";
.wp-block-audio figcaption {
  margin-top: .5em;
  margin-bottom: 1em;
  color: #555d66;
  text-align: center;
  font-size: 13px; }

.wp-block-audio audio {
  width: 100%;
  min-width: 300px; }

.editor-block-list__layout .reusable-block-edit-panel {
  -ms-flex-align: center;
      align-items: center;
  background: #f8f9f9;
  color: #555d66;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 13px;
  position: relative;
  top: -14px;
  margin: 0 -14px;
  padding: 8px 14px;
  position: relative;
  z-index: 7; }

.editor-block-list__layout .editor-block-list__layout .reusable-block-edit-panel {
  margin: 0 -14px;
  padding: 8px 14px; }

.editor-block-list__layout .reusable-block-edit-panel .reusable-block-edit-panel__spinner {
  margin: 0 5px; }

.editor-block-list__layout .reusable-block-edit-panel .reusable-block-edit-panel__info {
  margin-right: auto; }

.editor-block-list__layout .reusable-block-edit-panel .reusable-block-edit-panel__label {
  margin-right: 8px;
  white-space: nowrap;
  font-weight: 600; }

.editor-block-list__layout .reusable-block-edit-panel .reusable-block-edit-panel__title {
  -ms-flex: 1 1 100%;
      flex: 1 1 100%;
  font-size: 14px;
  height: 30px;
  margin: 4px 0 8px; }

.editor-block-list__layout .reusable-block-edit-panel .components-button.reusable-block-edit-panel__button {
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.editor-block-list__layout .reusable-block-indicator {
  background: #fff;
  border-left: 1px dashed #e2e4e7;
  color: #555d66;
  border-bottom: 1px dashed #e2e4e7;
  top: -14px;
  height: 30px;
  padding: 4px;
  position: absolute;
  z-index: 1;
  width: 30px;
  right: -14px; }

@media (min-width: 960px) {
  .editor-block-list__layout .reusable-block-edit-panel {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    .editor-block-list__layout .reusable-block-edit-panel .reusable-block-edit-panel__title {
      margin: 0; }
    .editor-block-list__layout .reusable-block-edit-panel .components-button.reusable-block-edit-panel__button {
      margin: 0 0 0 5px; } }

.wp-block-button {
  color: #fff;
  margin-bottom: 1.5em; }
  .wp-block-button.aligncenter {
    text-align: center; }
  .wp-block-button.alignright {
    text-align: right; }

.wp-block-button__link {
  background-color: #32373c;
  border: none;
  border-radius: 28px;
  box-shadow: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  margin: 0;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  overflow-wrap: break-word; }
  .wp-block-button__link:active, .wp-block-button__link:focus, .wp-block-button__link:hover {
    color: inherit; }

.is-style-squared .wp-block-button__link {
  border-radius: 0; }

.is-style-outline {
  color: #32373c; }
  .is-style-outline .wp-block-button__link {
    background: 0 0;
    border: 2px solid currentcolor; }

.wp-block-categories.alignleft {
  margin-right: 2em; }

.wp-block-categories.alignright {
  margin-left: 2em; }

.wp-block-columns {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

@media (min-width: 782px) {
  .wp-block-columns {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; } }

.wp-block-column {
  -ms-flex: 1;
      flex: 1;
  margin-bottom: 1em;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  min-width: 0;
  word-break: break-word;
  overflow-wrap: break-word; }

@media (min-width: 600px) {
  .wp-block-column {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -ms-flex-positive: 0;
        flex-grow: 0; } }

@media (min-width: 600px) {
  .wp-block-column:nth-child(odd) {
    margin-right: 32px; }
  .wp-block-column:nth-child(even), .wp-block-column:not(:first-child) {
    margin-left: 32px; }
  .wp-block-column:not(:last-child) {
    margin-right: 32px; } }

.wp-block-cover {
  position: relative;
  background-color: #000;
  background-size: cover;
  background-position: center center;
  min-height: 430px;
  width: 100%;
  margin: 0 0 1.5em 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  overflow: hidden; }

.wp-block-cover-image {
  position: relative;
  background-color: #000;
  background-size: cover;
  background-position: center center;
  min-height: 430px;
  width: 100%;
  margin: 0 0 1.5em 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  overflow: hidden; }
  .wp-block-cover-image.has-left-content {
    -ms-flex-pack: start;
        justify-content: flex-start; }

.wp-block-cover.has-left-content {
  -ms-flex-pack: start;
      justify-content: flex-start; }

.wp-block-cover-image.has-left-content .wp-block-cover-image-text, .wp-block-cover-image.has-left-content .wp-block-cover-text, .wp-block-cover-image.has-left-content h2 {
  margin-left: 0;
  text-align: left; }

.wp-block-cover.has-left-content .wp-block-cover-image-text, .wp-block-cover.has-left-content .wp-block-cover-text, .wp-block-cover.has-left-content h2 {
  margin-left: 0;
  text-align: left; }

.wp-block-cover-image.has-right-content, .wp-block-cover.has-right-content {
  -ms-flex-pack: end;
      justify-content: flex-end; }

.wp-block-cover-image.has-right-content .wp-block-cover-image-text, .wp-block-cover-image.has-right-content .wp-block-cover-text, .wp-block-cover-image.has-right-content h2 {
  margin-right: 0;
  text-align: right; }

.wp-block-cover.has-right-content .wp-block-cover-image-text, .wp-block-cover.has-right-content .wp-block-cover-text, .wp-block-cover.has-right-content h2 {
  margin-right: 0;
  text-align: right; }

.wp-block-cover .wp-block-cover-image-text, .wp-block-cover .wp-block-cover-text, .wp-block-cover h2 {
  color: #fff;
  font-size: 2em;
  line-height: 1.25;
  z-index: 1;
  margin-bottom: 0;
  max-width: 610px;
  padding: 14px;
  text-align: center; }

.wp-block-cover-image .wp-block-cover-image-text, .wp-block-cover-image .wp-block-cover-text, .wp-block-cover-image h2 {
  color: #fff;
  font-size: 2em;
  line-height: 1.25;
  z-index: 1;
  margin-bottom: 0;
  max-width: 610px;
  padding: 14px;
  text-align: center; }

.wp-block-cover .wp-block-cover-image-text a {
  color: #fff; }
  .wp-block-cover .wp-block-cover-image-text a:active, .wp-block-cover .wp-block-cover-image-text a:focus, .wp-block-cover .wp-block-cover-image-text a:hover {
    color: #fff; }

.wp-block-cover .wp-block-cover-text a {
  color: #fff; }
  .wp-block-cover .wp-block-cover-text a:active, .wp-block-cover .wp-block-cover-text a:focus, .wp-block-cover .wp-block-cover-text a:hover {
    color: #fff; }

.wp-block-cover h2 a {
  color: #fff; }
  .wp-block-cover h2 a:active, .wp-block-cover h2 a:focus, .wp-block-cover h2 a:hover {
    color: #fff; }

.wp-block-cover-image .wp-block-cover-image-text a {
  color: #fff; }
  .wp-block-cover-image .wp-block-cover-image-text a:active, .wp-block-cover-image .wp-block-cover-image-text a:focus, .wp-block-cover-image .wp-block-cover-image-text a:hover {
    color: #fff; }

.wp-block-cover-image .wp-block-cover-text a {
  color: #fff; }
  .wp-block-cover-image .wp-block-cover-text a:active, .wp-block-cover-image .wp-block-cover-text a:focus, .wp-block-cover-image .wp-block-cover-text a:hover {
    color: #fff; }

.wp-block-cover-image h2 a {
  color: #fff; }
  .wp-block-cover-image h2 a:active, .wp-block-cover-image h2 a:focus, .wp-block-cover-image h2 a:hover {
    color: #fff; }

.wp-block-cover-image.has-parallax {
  background-attachment: fixed; }

.wp-block-cover.has-parallax {
  background-attachment: fixed; }

@supports (-webkit-overflow-scrolling: touch) {
  .wp-block-cover-image.has-parallax, .wp-block-cover.has-parallax {
    background-attachment: scroll; } }

.wp-block-cover-image.has-background-dim::before, .wp-block-cover.has-background-dim::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: inherit;
  opacity: .5;
  z-index: 1; }

.wp-block-cover-image.has-background-dim.has-background-dim-10::before, .wp-block-cover.has-background-dim.has-background-dim-10::before {
  opacity: .1; }

.wp-block-cover-image.has-background-dim.has-background-dim-20::before, .wp-block-cover.has-background-dim.has-background-dim-20::before {
  opacity: .2; }

.wp-block-cover-image.has-background-dim.has-background-dim-30::before, .wp-block-cover.has-background-dim.has-background-dim-30::before {
  opacity: .3; }

.wp-block-cover-image.has-background-dim.has-background-dim-40::before, .wp-block-cover.has-background-dim.has-background-dim-40::before {
  opacity: .4; }

.wp-block-cover-image.has-background-dim.has-background-dim-50::before, .wp-block-cover.has-background-dim.has-background-dim-50::before {
  opacity: .5; }

.wp-block-cover-image.has-background-dim.has-background-dim-60::before, .wp-block-cover.has-background-dim.has-background-dim-60::before {
  opacity: .6; }

.wp-block-cover-image.has-background-dim.has-background-dim-70::before, .wp-block-cover.has-background-dim.has-background-dim-70::before {
  opacity: .7; }

.wp-block-cover-image.has-background-dim.has-background-dim-80::before, .wp-block-cover.has-background-dim.has-background-dim-80::before {
  opacity: .8; }

.wp-block-cover-image.has-background-dim.has-background-dim-90::before, .wp-block-cover.has-background-dim.has-background-dim-90::before {
  opacity: .9; }

.wp-block-cover-image.has-background-dim.has-background-dim-100::before, .wp-block-cover.has-background-dim.has-background-dim-100::before {
  opacity: 1; }

.wp-block-cover-image.alignleft, .wp-block-cover-image.alignright {
  max-width: 305px;
  width: 100%; }

.wp-block-cover.alignleft, .wp-block-cover.alignright {
  max-width: 305px;
  width: 100%; }

.wp-block-cover-image::after, .wp-block-cover::after {
  display: block;
  content: "";
  font-size: 0;
  min-height: inherit; }

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .wp-block-cover-image::after, .wp-block-cover::after {
    content: none; } }

.wp-block-cover-image.aligncenter, .wp-block-cover-image.alignleft, .wp-block-cover-image.alignright {
  display: -ms-flexbox;
  display: flex; }

.wp-block-cover.aligncenter, .wp-block-cover.alignleft, .wp-block-cover.alignright {
  display: -ms-flexbox;
  display: flex; }

.wp-block-cover__video-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover; }

.editor-block-list__block[data-type="core/embed"][data-align=left] .editor-block-list__block-edit, .editor-block-list__block[data-type="core/embed"][data-align=right] .editor-block-list__block-edit {
  max-width: 360px;
  width: 100%; }

.wp-block-embed {
  margin-bottom: 1em; }
  .wp-block-embed.alignleft, .wp-block-embed.alignright {
    max-width: 360px;
    width: 100%; }
  .wp-block-embed figcaption {
    margin-top: .5em;
    margin-bottom: 1em;
    color: #555d66;
    text-align: center;
    font-size: 13px; }

.wp-embed-responsive .wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper {
  position: relative; }

.wp-embed-responsive .wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper::before, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper::before, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper::before, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper::before, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper::before, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper::before, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper::before {
  content: "";
  display: block;
  padding-top: 50%; }

.wp-embed-responsive .wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper iframe, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper iframe, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper iframe, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper iframe, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper iframe, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper iframe, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.wp-embed-responsive .wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper::before {
  padding-top: 42.85%; }

.wp-embed-responsive .wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper::before {
  padding-top: 50%; }

.wp-embed-responsive .wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper::before {
  padding-top: 56.25%; }

.wp-embed-responsive .wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper::before {
  padding-top: 75%; }

.wp-embed-responsive .wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper::before {
  padding-top: 100%; }

.wp-embed-responsive .wp-block-embed.wp-embed-aspect-9-6 .wp-block-embed__wrapper::before {
  padding-top: 66.66%; }

.wp-embed-responsive .wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper::before {
  padding-top: 200%; }

.wp-block-file {
  margin-bottom: 1.5em; }
  .wp-block-file.aligncenter {
    text-align: center; }
  .wp-block-file.alignright {
    text-align: right; }
  .wp-block-file .wp-block-file__button {
    background: #32373c;
    border-radius: 2em;
    color: #fff;
    font-size: 13px;
    padding: .5em 1em; }
  .wp-block-file a.wp-block-file__button {
    text-decoration: none; }
    .wp-block-file a.wp-block-file__button:active, .wp-block-file a.wp-block-file__button:focus, .wp-block-file a.wp-block-file__button:hover, .wp-block-file a.wp-block-file__button:visited {
      box-shadow: none;
      color: #fff;
      opacity: .85;
      text-decoration: none; }
  .wp-block-file * + .wp-block-file__button {
    margin-left: .75em; }

.wp-block-gallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  padding: 0; }
  .wp-block-gallery .blocks-gallery-image, .wp-block-gallery .blocks-gallery-item {
    margin: 0 16px 16px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    position: relative; }
  .wp-block-gallery .blocks-gallery-image figure, .wp-block-gallery .blocks-gallery-item figure {
    margin: 0;
    height: 100%; }
  .wp-block-gallery .blocks-gallery-image img, .wp-block-gallery .blocks-gallery-item img {
    display: block;
    max-width: 100%;
    height: auto; }
  .wp-block-gallery .blocks-gallery-image img, .wp-block-gallery .blocks-gallery-item img {
    width: 100%; }
  .wp-block-gallery .blocks-gallery-image figcaption, .wp-block-gallery .blocks-gallery-item figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 40px 10px 5px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.3) 60%, transparent); }
  .wp-block-gallery .blocks-gallery-image figcaption img, .wp-block-gallery .blocks-gallery-item figcaption img {
    display: inline; }
  .wp-block-gallery.is-cropped .blocks-gallery-image a, .wp-block-gallery.is-cropped .blocks-gallery-image img {
    width: 100%; }
  .wp-block-gallery.is-cropped .blocks-gallery-item a, .wp-block-gallery.is-cropped .blocks-gallery-item img {
    width: 100%; }
  .wp-block-gallery .blocks-gallery-image, .wp-block-gallery .blocks-gallery-item {
    width: calc((100% - 16px)/ 2); }
  .wp-block-gallery .blocks-gallery-image:nth-of-type(even), .wp-block-gallery .blocks-gallery-item:nth-of-type(even) {
    margin-right: 0; }
  .wp-block-gallery.columns-1 .blocks-gallery-image, .wp-block-gallery.columns-1 .blocks-gallery-item {
    width: 100%;
    margin-right: 0; }
  .wp-block-gallery .blocks-gallery-image:last-child {
    margin-right: 0; }
  .wp-block-gallery .blocks-gallery-item:last-child {
    margin-right: 0; }
  .wp-block-gallery .blocks-gallery-item.has-add-item-button {
    width: 100%; }
  .wp-block-gallery.alignleft, .wp-block-gallery.alignright {
    max-width: 305px;
    width: 100%; }
  .wp-block-gallery.aligncenter, .wp-block-gallery.alignleft, .wp-block-gallery.alignright {
    display: -ms-flexbox;
    display: flex; }
  .wp-block-gallery.aligncenter .blocks-gallery-item figure {
    -ms-flex-pack: center;
        justify-content: center; }

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .wp-block-gallery .blocks-gallery-image figure, .wp-block-gallery .blocks-gallery-item figure {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
        align-items: flex-end;
    -ms-flex-pack: start;
        justify-content: flex-start; } }

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .wp-block-gallery .blocks-gallery-image img, .wp-block-gallery .blocks-gallery-item img {
    width: auto; } }

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .wp-block-gallery.is-cropped .blocks-gallery-image a, .wp-block-gallery.is-cropped .blocks-gallery-image img {
    height: 100%;
    -ms-flex: 1;
        flex: 1;
    object-fit: cover; }
  .wp-block-gallery.is-cropped .blocks-gallery-item a, .wp-block-gallery.is-cropped .blocks-gallery-item img {
    height: 100%;
    -ms-flex: 1;
        flex: 1;
    object-fit: cover; } }

@media (min-width: 600px) {
  .wp-block-gallery.columns-3 .blocks-gallery-image, .wp-block-gallery.columns-3 .blocks-gallery-item {
    width: calc((100% - 16px * 2)/ 3);
    margin-right: 16px; }
  .wp-block-gallery.columns-4 .blocks-gallery-image, .wp-block-gallery.columns-4 .blocks-gallery-item {
    width: calc((100% - 16px * 3)/ 4);
    margin-right: 16px; }
  .wp-block-gallery.columns-5 .blocks-gallery-image, .wp-block-gallery.columns-5 .blocks-gallery-item {
    width: calc((100% - 16px * 4)/ 5);
    margin-right: 16px; }
  .wp-block-gallery.columns-6 .blocks-gallery-image, .wp-block-gallery.columns-6 .blocks-gallery-item {
    width: calc((100% - 16px * 5)/ 6);
    margin-right: 16px; }
  .wp-block-gallery.columns-7 .blocks-gallery-image, .wp-block-gallery.columns-7 .blocks-gallery-item {
    width: calc((100% - 16px * 6)/ 7);
    margin-right: 16px; }
  .wp-block-gallery.columns-8 .blocks-gallery-image, .wp-block-gallery.columns-8 .blocks-gallery-item {
    width: calc((100% - 16px * 7)/ 8);
    margin-right: 16px; }
  .wp-block-gallery.columns-1 .blocks-gallery-image:nth-of-type(1n), .wp-block-gallery.columns-1 .blocks-gallery-item:nth-of-type(1n) {
    margin-right: 0; }
  .wp-block-gallery.columns-2 .blocks-gallery-image:nth-of-type(2n), .wp-block-gallery.columns-2 .blocks-gallery-item:nth-of-type(2n) {
    margin-right: 0; }
  .wp-block-gallery.columns-3 .blocks-gallery-image:nth-of-type(3n), .wp-block-gallery.columns-3 .blocks-gallery-item:nth-of-type(3n) {
    margin-right: 0; }
  .wp-block-gallery.columns-4 .blocks-gallery-image:nth-of-type(4n), .wp-block-gallery.columns-4 .blocks-gallery-item:nth-of-type(4n) {
    margin-right: 0; }
  .wp-block-gallery.columns-5 .blocks-gallery-image:nth-of-type(5n), .wp-block-gallery.columns-5 .blocks-gallery-item:nth-of-type(5n) {
    margin-right: 0; }
  .wp-block-gallery.columns-6 .blocks-gallery-image:nth-of-type(6n), .wp-block-gallery.columns-6 .blocks-gallery-item:nth-of-type(6n) {
    margin-right: 0; }
  .wp-block-gallery.columns-7 .blocks-gallery-image:nth-of-type(7n), .wp-block-gallery.columns-7 .blocks-gallery-item:nth-of-type(7n) {
    margin-right: 0; }
  .wp-block-gallery.columns-8 .blocks-gallery-image:nth-of-type(8n), .wp-block-gallery.columns-8 .blocks-gallery-item:nth-of-type(8n) {
    margin-right: 0; } }

.wp-block-image {
  max-width: 100%;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0; }
  .wp-block-image img {
    max-width: 100%; }
  .wp-block-image.aligncenter {
    text-align: center; }
  .wp-block-image.alignfull img, .wp-block-image.alignwide img {
    width: 100%; }
  .wp-block-image .aligncenter, .wp-block-image .alignleft, .wp-block-image .alignright, .wp-block-image.is-resized {
    display: table;
    margin-left: 0;
    margin-right: 0; }
  .wp-block-image .aligncenter > figcaption, .wp-block-image .alignleft > figcaption, .wp-block-image .alignright > figcaption, .wp-block-image.is-resized > figcaption {
    display: table-caption;
    caption-side: bottom; }
  .wp-block-image .alignleft {
    float: left;
    margin-right: 1em; }
  .wp-block-image .alignright {
    float: right;
    margin-left: 1em; }
  .wp-block-image .aligncenter {
    margin-left: auto;
    margin-right: auto; }
  .wp-block-image figcaption {
    margin-top: .5em;
    margin-bottom: 1em;
    color: #555d66;
    text-align: center;
    font-size: 13px; }

.wp-block-latest-comments__comment {
  font-size: 15px;
  line-height: 1.1;
  list-style: none;
  margin-bottom: 1em; }

.has-avatars .wp-block-latest-comments__comment {
  min-height: 36px;
  list-style: none; }
  .has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt, .has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta {
    margin-left: 52px; }

.has-dates .wp-block-latest-comments__comment, .has-excerpts .wp-block-latest-comments__comment {
  line-height: 1.5; }

.wp-block-latest-comments__comment-excerpt p {
  font-size: 14px;
  line-height: 1.8;
  margin: 5px 0 20px; }

.wp-block-latest-comments__comment-date {
  color: #8f98a1;
  display: block;
  font-size: 12px; }

.wp-block-latest-comments .avatar, .wp-block-latest-comments__comment-avatar {
  border-radius: 24px;
  display: block;
  float: left;
  height: 40px;
  margin-right: 12px;
  width: 40px; }

.wp-block-latest-posts.alignleft {
  margin-right: 2em; }

.wp-block-latest-posts.alignright {
  margin-left: 2em; }

.wp-block-latest-posts.is-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  list-style: none; }
  .wp-block-latest-posts.is-grid li {
    margin: 0 16px 16px 0;
    width: 100%; }

@media (min-width: 600px) {
  .wp-block-latest-posts.columns-2 li {
    width: calc((100% / 2) - 16px); }
  .wp-block-latest-posts.columns-3 li {
    width: calc((100% / 3) - 16px); }
  .wp-block-latest-posts.columns-4 li {
    width: calc((100% / 4) - 16px); }
  .wp-block-latest-posts.columns-5 li {
    width: calc((100% / 5) - 16px); }
  .wp-block-latest-posts.columns-6 li {
    width: calc((100% / 6) - 16px); } }

.wp-block-latest-posts__post-date {
  display: block;
  color: #6c7781;
  font-size: 13px; }

.wp-block-media-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-flex-align: center;
      align-items: center;
  grid-template-areas: "media-text-media media-text-content";
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto; }
  .wp-block-media-text.has-media-on-the-right {
    grid-template-areas: "media-text-content media-text-media";
    -ms-grid-columns: auto 50%;
        grid-template-columns: auto 50%; }
  .wp-block-media-text .wp-block-media-text__media {
    grid-area: media-text-media;
    margin: 0; }
  .wp-block-media-text .wp-block-media-text__content {
    word-break: break-word;
    grid-area: media-text-content;
    padding: 0 8% 0 8%; }
  .wp-block-media-text > figure > img, .wp-block-media-text > figure > video {
    max-width: unset;
    width: 100%;
    vertical-align: middle; }

@media (max-width: 600px) {
  .wp-block-media-text.is-stacked-on-mobile {
    -ms-grid-columns: 100% !important;
        grid-template-columns: 100% !important;
    grid-template-areas: "media-text-media" "media-text-content"; }
    .wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right {
      grid-template-areas: "media-text-content" "media-text-media"; } }

p.is-small-text {
  font-size: 14px; }

p.is-regular-text {
  font-size: 16px; }

p.is-large-text {
  font-size: 36px; }

p.is-larger-text {
  font-size: 48px; }

p.has-drop-cap:not(:focus)::first-letter {
  float: left;
  font-size: 8.4em;
  line-height: .68;
  font-weight: 100;
  margin: .05em .1em 0 0;
  text-transform: uppercase;
  font-style: normal; }

p.has-drop-cap:not(:focus)::after {
  content: "";
  display: table;
  clear: both;
  padding-top: 14px; }

p.has-background {
  padding: 20px 30px; }

p.has-text-color a {
  color: inherit; }

.wp-block-pullquote {
  padding: 3em 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center; }
  .wp-block-pullquote.alignleft, .wp-block-pullquote.alignright {
    max-width: 305px; }
  .wp-block-pullquote.alignleft p, .wp-block-pullquote.alignright p {
    font-size: 20px; }
  .wp-block-pullquote p {
    font-size: 28px;
    line-height: 1.6; }
  .wp-block-pullquote cite, .wp-block-pullquote footer {
    position: relative; }
  .wp-block-pullquote .has-text-color a {
    color: inherit; }
  .wp-block-pullquote:not(.is-style-solid-color) {
    background: 0 0; }
  .wp-block-pullquote.is-style-solid-color {
    border: none; }
    .wp-block-pullquote.is-style-solid-color blockquote {
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      max-width: 60%; }
      .wp-block-pullquote.is-style-solid-color blockquote p {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 32px; }
      .wp-block-pullquote.is-style-solid-color blockquote cite {
        text-transform: none;
        font-style: normal; }
  .wp-block-pullquote cite {
    color: inherit; }

.wp-block-quote.is-large, .wp-block-quote.is-style-large {
  margin: 0 0 16px;
  padding: 0 1em; }

.wp-block-quote.is-large p, .wp-block-quote.is-style-large p {
  font-size: 24px;
  font-style: italic;
  line-height: 1.6; }

.wp-block-quote.is-large cite, .wp-block-quote.is-large footer {
  font-size: 18px;
  text-align: right; }

.wp-block-quote.is-style-large cite, .wp-block-quote.is-style-large footer {
  font-size: 18px;
  text-align: right; }

.wp-block-separator.is-style-wide {
  border-bottom-width: 1px; }

.wp-block-separator.is-style-dots {
  background: 0 0;
  border: none;
  text-align: center;
  max-width: none;
  line-height: 1;
  height: auto; }
  .wp-block-separator.is-style-dots::before {
    content: "\00b7 \00b7 \00b7";
    color: #191e23;
    font-size: 20px;
    letter-spacing: 2em;
    padding-left: 2em;
    font-family: serif; }

p.wp-block-subhead {
  font-size: 1.1em;
  font-style: italic;
  opacity: .75; }

.wp-block-table.has-fixed-layout {
  table-layout: fixed;
  width: 100%; }

.wp-block-table.aligncenter, .wp-block-table.alignleft, .wp-block-table.alignright {
  display: table;
  width: auto; }

.wp-block-table.is-style-stripes {
  border-spacing: 0;
  border-collapse: inherit;
  border-bottom: 1px solid #f3f4f5; }
  .wp-block-table.is-style-stripes tr:nth-child(odd) {
    background-color: #f3f4f5; }
  .wp-block-table.is-style-stripes td {
    border-color: transparent; }

.wp-block-text-columns {
  display: -ms-flexbox;
  display: flex; }
  .wp-block-text-columns.aligncenter {
    display: -ms-flexbox;
    display: flex; }
  .wp-block-text-columns .wp-block-column {
    margin: 0 16px;
    padding: 0; }
    .wp-block-text-columns .wp-block-column:first-child {
      margin-left: 0; }
    .wp-block-text-columns .wp-block-column:last-child {
      margin-right: 0; }
  .wp-block-text-columns.columns-2 .wp-block-column {
    width: calc(100% / 2); }
  .wp-block-text-columns.columns-3 .wp-block-column {
    width: calc(100% / 3); }
  .wp-block-text-columns.columns-4 .wp-block-column {
    width: calc(100% / 4); }

pre.wp-block-verse {
  white-space: nowrap;
  overflow: auto; }

.wp-block-video {
  margin-left: 0;
  margin-right: 0; }
  .wp-block-video video {
    max-width: 100%; }
  .wp-block-video.aligncenter {
    text-align: center; }
  .wp-block-video figcaption {
    margin-top: .5em;
    margin-bottom: 1em;
    color: #555d66;
    text-align: center;
    font-size: 13px; }

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .wp-block-video [poster] {
    object-fit: cover; } }

.has-pale-pink-background-color.has-pale-pink-background-color {
  background-color: #f78da7; }

.has-vivid-red-background-color.has-vivid-red-background-color {
  background-color: #cf2e2e; }

.has-luminous-vivid-orange-background-color.has-luminous-vivid-orange-background-color {
  background-color: #ff6900; }

.has-luminous-vivid-amber-background-color.has-luminous-vivid-amber-background-color {
  background-color: #fcb900; }

.has-light-green-cyan-background-color.has-light-green-cyan-background-color {
  background-color: #7bdcb5; }

.has-vivid-green-cyan-background-color.has-vivid-green-cyan-background-color {
  background-color: #00d084; }

.has-pale-cyan-blue-background-color.has-pale-cyan-blue-background-color {
  background-color: #8ed1fc; }

.has-vivid-cyan-blue-background-color.has-vivid-cyan-blue-background-color {
  background-color: #0693e3; }

.has-very-light-gray-background-color.has-very-light-gray-background-color {
  background-color: #eee; }

.has-cyan-bluish-gray-background-color.has-cyan-bluish-gray-background-color {
  background-color: #abb8c3; }

.has-very-dark-gray-background-color.has-very-dark-gray-background-color {
  background-color: #313131; }

.has-pale-pink-color.has-pale-pink-color {
  color: #f78da7; }

.has-vivid-red-color.has-vivid-red-color {
  color: #cf2e2e; }

.has-luminous-vivid-orange-color.has-luminous-vivid-orange-color {
  color: #ff6900; }

.has-luminous-vivid-amber-color.has-luminous-vivid-amber-color {
  color: #fcb900; }

.has-light-green-cyan-color.has-light-green-cyan-color {
  color: #7bdcb5; }

.has-vivid-green-cyan-color.has-vivid-green-cyan-color {
  color: #00d084; }

.has-pale-cyan-blue-color.has-pale-cyan-blue-color {
  color: #8ed1fc; }

.has-vivid-cyan-blue-color.has-vivid-cyan-blue-color {
  color: #0693e3; }

.has-very-light-gray-color.has-very-light-gray-color {
  color: #eee; }

.has-cyan-bluish-gray-color.has-cyan-bluish-gray-color {
  color: #abb8c3; }

.has-very-dark-gray-color.has-very-dark-gray-color {
  color: #313131; }

.has-small-font-size {
  font-size: 13px; }

.has-normal-font-size, .has-regular-font-size {
  font-size: 16px; }

.has-medium-font-size {
  font-size: 20px; }

.has-large-font-size {
  font-size: 36px; }

.has-huge-font-size, .has-larger-font-size {
  font-size: 42px; }

.tagcloud {
  margin: 0;
  padding: 0;
  list-style: none; }

.clearfix:after, .widget:after, .search-form:after,
.post-password-form:after, .search-form p:after,
.post-password-form p:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

/* name fonts */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.42; }

h1 {
  line-height: 1.42;
  font-size: 1.75rem; }
  @media (min-width: 992px) {
    h1 {
      font-size: 3rem; } }

h5 {
  font-size: 0.9375rem; }
  @media (min-width: 992px) {
    h5 {
      font-size: 1rem; } }

.widget {
  margin-bottom: 1.25rem; }
  .widget select {
    min-width: 150px; }

.search-form label,
.post-password-form label {
  display: block; }

.search-form input,
.post-password-form input {
  float: left;
  margin-right: 5px; }
  @media (min-width: 768px) {
    #sidebar .search-form input, #sidebar
    .post-password-form input {
      width: 100%;
      margin: 0 0 5px; } }
  .search-form input[type='submit'],
  .post-password-form input[type='submit'] {
    margin: 0;
    padding: 0.375rem 0.75rem; }

.nav-links,
.navigation,
.navigation-comments {
  position: relative;
  vertical-align: middle;
  margin: 0 -3px 1.25rem; }
  .nav-links .screen-reader-text,
  .navigation .screen-reader-text,
  .navigation-comments .screen-reader-text {
    position: absolute;
    left: -99999px; }
  .nav-links .page-numbers,
  .navigation .page-numbers,
  .navigation-comments .page-numbers {
    margin: 0 3px; }
    .nav-links .page-numbers:first-child,
    .navigation .page-numbers:first-child,
    .navigation-comments .page-numbers:first-child {
      margin-left: 0; }
    .nav-links .page-numbers:last-child,
    .navigation .page-numbers:last-child,
    .navigation-comments .page-numbers:last-child {
      margin-right: 0; }
  .nav-links .next,
  .nav-links .prev,
  .navigation .next,
  .navigation .prev,
  .navigation-comments .next,
  .navigation-comments .prev {
    display: inline-block;
    vertical-align: middle;
    max-width: 49%; }
    @media (max-width: 767px) {
      .nav-links .next,
      .nav-links .prev,
      .navigation .next,
      .navigation .prev,
      .navigation-comments .next,
      .navigation-comments .prev {
        font-size: 0; }
        .nav-links .next:after,
        .nav-links .prev:after,
        .navigation .next:after,
        .navigation .prev:after,
        .navigation-comments .next:after,
        .navigation-comments .prev:after {
          font-size: 1rem;
          line-height: 1.625;
          content: '»'; } }
  @media (max-width: 767px) {
    .nav-links .prev:after,
    .navigation .prev:after,
    .navigation-comments .prev:after {
      content: '«'; } }

.navigation-single {
  margin-bottom: 1.25rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  color: #333;
  font-size: 1.125rem;
  line-height: 1.8125rem;
  font-weight: bold; }
  @media (min-width: 768px) {
    .navigation-single {
      font-size: 1.5625rem;
      line-height: 2.25rem; } }
  .navigation-single .next,
  .navigation-single .prev {
    max-width: 49%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .navigation-single .next > a,
    .navigation-single .prev > a {
      color: inherit;
      text-decoration: none;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column; }
      @media (min-width: 768px) {
        .navigation-single .next > a,
        .navigation-single .prev > a {
          -ms-flex-direction: row;
              flex-direction: row;
          -ms-flex-align: center;
              align-items: center; } }
      .navigation-single .next > a:after,
      .navigation-single .prev > a:after {
        display: none; }
    .navigation-single .next span,
    .navigation-single .prev span {
      padding-top: 0.5rem; }
      @media (min-width: 768px) {
        .navigation-single .next span,
        .navigation-single .prev span {
          padding-top: 0;
          padding-left: 2.875rem; } }
    .navigation-single .next i,
    .navigation-single .prev i {
      font-size: 1rem; }
      @media (min-width: 768px) {
        .navigation-single .next i,
        .navigation-single .prev i {
          font-size: 1.3125rem; } }
  .navigation-single .next a {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    -ms-flex-align: end;
        align-items: flex-end;
    text-align: right; }
    @media (min-width: 768px) {
      .navigation-single .next a span {
        padding: 0 3rem 0 0; } }
    @media (min-width: 768px) {
      .navigation-single .next a {
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-align: center;
            align-items: center; } }

.comment-form label {
  display: block;
  padding-bottom: 4px; }

.comment-form input,
.comment-form textarea {
  margin: 0 4px 0 0;
  width: 100%; }
  @media (min-width: 768px) {
    .comment-form input,
    .comment-form textarea {
      max-width: 300px; } }
  .comment-form input[type='submit'],
  .comment-form textarea[type='submit'] {
    display: block;
    width: auto; }

.comment-form textarea {
  overflow: auto;
  margin: 0;
  height: 120px;
  min-height: 120px; }

.commentlist {
  margin: 0 0 1.2em; }
  .commentlist .edit-link {
    margin: 0; }
  .commentlist .avatar-holder {
    float: left;
    margin: 0 1.2em 4px 0; }

.commentlist-item .commentlist-item {
  padding: 0; }
  @media (min-width: 768px) {
    .commentlist-item .commentlist-item {
      padding: 0 0 0 2em; } }

.comment,
.commentlist-holder {
  overflow: hidden; }

.commentlist-item .commentlist-item,
.commentlist-item + .commentlist-item {
  padding-top: 20px; }

.widget_calendar th,
.widget_calendar td {
  text-align: center; }

.widget_calendar #prev {
  text-align: left; }

.widget_calendar #next {
  text-align: right; }

#wp-calendar {
  width: 100%; }

.wp-caption {
  max-width: 100%;
  clear: both;
  border: 1px solid #333;
  padding: 4px;
  margin-bottom: 20px;
  text-align: center; }
  .wp-caption img {
    margin-bottom: 4px; }
  .wp-caption p {
    margin: 0; }

.aligncenter {
  margin: 0 auto 1.25rem; }

img.aligncenter {
  display: block;
  margin: 0 auto; }

.alignleft {
  float: left;
  margin: 0 1.2em 4px 0; }

.alignright {
  float: right;
  margin: 0 0 4px 1.2em; }

.mejs-container {
  margin-bottom: 1.25rem; }

.wp-caption-text,
.gallery,
.alignnone,
.gallery-caption,
.sticky,
.bypostauthor {
  height: auto; }

.gallery .gallery-item {
  padding: 0 10px; }
  .gallery .gallery-item dt {
    float: none;
    width: 100%;
    margin: 0 0 10px;
    padding: 0; }

.gallery-columns-2 .gallery-item {
  max-width: 50%;
  width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
  width: 33.33%; }

.tagcloud {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.comment-list .comment-body {
  margin-bottom: 20px; }

.comment-author img {
  margin-right: 10px; }

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none; }

select,
input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='url'],
textarea {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.625;
  font-family: "Roboto", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  box-sizing: border-box;
  border: 1px solid #D4D4D4;
  border-radius: 4px;
  color: #888;
  background: #fff; }
  @media (min-width: 768px) {
    select:not(textarea),
    input[type='text']:not(textarea),
    input[type='tel']:not(textarea),
    input[type='email']:not(textarea),
    input[type='search']:not(textarea),
    input[type='password']:not(textarea),
    input[type='url']:not(textarea),
    textarea:not(textarea) {
      height: 3rem; } }
  select:focus,
  input[type='text']:focus,
  input[type='tel']:focus,
  input[type='email']:focus,
  input[type='search']:focus,
  input[type='password']:focus,
  input[type='url']:focus,
  textarea:focus {
    outline: none; }
  select::-webkit-input-placeholder,
  input[type='text']::-webkit-input-placeholder,
  input[type='tel']::-webkit-input-placeholder,
  input[type='email']::-webkit-input-placeholder,
  input[type='search']::-webkit-input-placeholder,
  input[type='password']::-webkit-input-placeholder,
  input[type='url']::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #6c757d; }
  select::-moz-placeholder,
  input[type='text']::-moz-placeholder,
  input[type='tel']::-moz-placeholder,
  input[type='email']::-moz-placeholder,
  input[type='search']::-moz-placeholder,
  input[type='password']::-moz-placeholder,
  input[type='url']::-moz-placeholder,
  textarea::-moz-placeholder {
    opacity: 1;
    color: #6c757d; }
  select:-moz-placeholder,
  input[type='text']:-moz-placeholder,
  input[type='tel']:-moz-placeholder,
  input[type='email']:-moz-placeholder,
  input[type='search']:-moz-placeholder,
  input[type='password']:-moz-placeholder,
  input[type='url']:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #6c757d; }
  select:-ms-input-placeholder,
  input[type='text']:-ms-input-placeholder,
  input[type='tel']:-ms-input-placeholder,
  input[type='email']:-ms-input-placeholder,
  input[type='search']:-ms-input-placeholder,
  input[type='password']:-ms-input-placeholder,
  input[type='url']:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #6c757d; }
  select.placeholder,
  input[type='text'].placeholder,
  input[type='tel'].placeholder,
  input[type='email'].placeholder,
  input[type='search'].placeholder,
  input[type='password'].placeholder,
  input[type='url'].placeholder,
  textarea.placeholder {
    color: #6c757d; }

textarea {
  resize: none;
  vertical-align: top; }

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type='submit'],
button {
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
  display: inline-block;
  font-size: "Roboto", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  line-height: 1.625;
  font-weight: 400;
  color: #333;
  padding: 0.5rem 0.9375rem;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem; }
  input[type='submit']:not(:disabled):not(.disabled),
  button:not(:disabled):not(.disabled) {
    cursor: pointer; }

body {
  min-width: 320px; }

.container {
  max-width: 1140px; }

#wrapper {
  width: 100%;
  position: relative;
  overflow: hidden; }

img {
  vertical-align: top;
  max-width: 100%;
  height: auto; }

iframe {
  width: 100%; }

a[href^=tel],
a[href^=fax],
a[href^=skype] {
  color: #0066FF;
  text-decoration: none; }

.wrapper {
  min-height: 100vh;
  background-color: #eeeeee; }

.todo-app {
  padding: 2rem 0; }

.todo-holder {
  max-width: 500px;
  width: 100%;
  margin: 0 auto; }

.input-holder {
  margin-bottom: 10px; }
  .input-holder input[type='text'] {
    border-radius: 4px 0 0 4px;
    border-left: 0;
    font-size: 18px; }
  .input-holder .btn {
    width: 100px;
    font-size: 18px;
    border-radius: 0 4px 4px 0; }

.main-todo-wrapper {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  border-radius: 0 0 4px 4px; }

.todo-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left; }

.todo-item {
  position: relative;
  padding: 5px 10px; }
  .todo-item:hover .todo-item-remove {
    opacity: 1;
    visibility: visible; }
  .todo-item:not(:last-child) {
    border-bottom: 1px solid #6c757d; }
  .todo-item label {
    margin-bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .todo-item input[type='radio'] {
    display: none; }
    .todo-item input[type='radio']:checked + .todo-item-check:after {
      transform: translate(-50%, -50%) scale(1); }

.todo-item-check {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #6c757d;
  display: block;
  margin-right: 10px; }
  .todo-item-check:hover {
    cursor: pointer; }
  .todo-item-check:after {
    content: '\2714';
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #28a745;
    transition: 0.3s transform ease-in-out; }

.todo-item-text {
  width: calc(100% - 65px); }

.todo-item-remove {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transition: 0.3s opacity ease-in-out, 0.3s visibility ease-in-out; }
  .todo-item-remove:hover {
    cursor: pointer; }
  .todo-item-remove:after {
    content: '\2716';
    font-size: 18px;
    color: #EB5757; }

.todo-statistic {
  border-top: 1px solid #6c757d;
  padding: 5px 10px; }
  .todo-statistic .left-items .counter {
    margin-right: 5px; }

.tab-list-links {
  margin: 0;
  padding: 0; }
  .tab-list-links li {
    border: 1px solid #6c757d;
    border-radius: 4px;
    list-style-type: none;
    font-size: 14px;
    overflow: hidden;
    margin: 0 5px; }
  .tab-list-links a {
    color: #6c757d;
    background-color: transparent;
    padding: 5px;
    transition: 0.5s color ease-in-out, 0.5s background-color ease-in-out; }
    .tab-list-links a:hover {
      background-color: #0066FF;
      color: #fff;
      text-decoration: none; }

.left-items,
.clear-all {
  font-size: 14px; }

/* @import 'components/section'; */

/*# sourceMappingURL=style.css.map */
